div.picture {
    float: left;
    margin: 5px;
    text-align: center;
    line-height: 14px;
    color: #333;
    font-size: 10px;
    font-family: "Helvetica Neue",sans-serif;
    width: 262px;
    height: 222px;
    overflow: hidden;
    border-top: 1px solid transparent;
    cursor: pointer;
}

div.picture-hover {
    background-color: #eee;
}

.x-item-selected {
    background-color: #D3E1F1 !important;
}

div.picture img {
    margin-bottom: 1px;
}

div.picture strong {
    color: #000;
    display: block;
}

div.picture span {
    color: #999;
}
